@charset "UTF-8";

/* index page style */
/* swiper-blog：部落格 swiper 樣式 */
/* swiper 切換按鈕 */
.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev:enabled:hover,
.swiper-button-next:enabled:hover {
  box-shadow: 0 0 10px 3px gray;
  opacity: 1;
}

.swiper-button-prev .btn-arrow-img,
.swiper-button-next .btn-arrow-img {
  width: 100%;
}

.swiper-button-prev {
  left: -68px;
}

.swiper-button-next {
  right: -68px;
}

@media (max-width: 1499px) {

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin-top: 0;
  }

  .swiper-button-area {
    display: flex;
    justify-content: flex-end;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin-top: 32px;
  }
}

/* Banner */
.banner-content {
  height: 356px;
}

@media (min-width: 768px) {
  .banner-content {
    height: auto;
  }
}

.banner-intro {
  background-color: #fff;
  font-size: 24px;
  padding: 40px 24px;
  margin-top: -160px;
}

@media (min-width: 768px) {
  .banner-intro {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .banner-intro {
    position: relative;
    max-width: 56%;
    margin-left: auto;
    margin-right: 80px;
    margin-top: -8.333%;
  }
}

@media (min-width: 1920px) {
  .banner-intro {
    font-size: 28px;
    padding: 80px 40px;
  }
}

/* 裝飾 */
.decorator {
  padding: 18.75px 5px;
}

.decorator .decorator-line {
  width: 30px;
  height: 2.5px;
  background-color: #0027D5;
  border-radius: 40px;
}

/* 交疊 */
@media (min-width: 1200px) {
  .overlay-right {
    margin-left: -40px;
  }

  .overlay-left {
    margin-right: -40px;
    z-index: 0;
  }
}

/* 聯繫我 */
.connect-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

@media (min-width: 768px) {
  .connect-me {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.connect-me-img {
  width: 40px;
  height: 40px;
}

/* 職涯諮詢 */
.consultation-desc {
  margin-top: -160px;
}

@media (min-width: 768px) {
  .consultation-desc {
    margin-top: 0;
  }
}

.consultation-desc-1,
.consultation-desc-2 {
  padding: 40px 24px;
}

@media (min-width: 1200px) {

  .consultation-desc-1,
  .consultation-desc-2 {
    padding: 80px 40px;
  }
}

.consultation-desc-1 {
  background-color: white;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .consultation-desc-1 {
    margin-bottom: -40px;
    position: relative;
    left: -195px;
  }
}

.consultation-desc-2 {
  background-color: #F5F5F5;
}

@media (min-width: 1200px) {
  .consultation-desc-2 {
    position: relative;
  }
}

/* 訂閱電子報 */
.newsletter {
  background-image: url("../assets/images/index/hero-section2.png");
  background-size: cover;
  align-content: center;
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .newsletter {
    padding: 24px 80px;
  }
}

@media (min-width: 1200px) {
  .newsletter {
    background-image: url("../assets/images/index/hero-section3-dt.jpg");
    background-position: center;
  }
}

.newsletter-content {
  background-color: white;
  padding: 40px 24px;
}

@media (min-width: 1920px) {
  .newsletter-content {
    padding: 80px;
  }
}

.newsletter-input {
  width: 100%;
  background: #F1F1F1;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
}

/*# sourceMappingURL=index.css.map */